<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item"><a class="navigation__link {% if page.url == "/" %}active{% endif %}" href="/" >Welcome</a></li>
    <li class="navigation__item"><a class="navigation__link {% if page.url == "/typefaces/" %}active{% endif %}" href="/typefaces/" >Typefaces</a></li>
    <li class="navigation__item"><a class="navigation__link {% if page.url == "/peoplefaces/" %}active{% endif %}" href="/peoplefaces/" >Peoplefaces</a></li>
  </ul>
</nav>
