$break-small: 700px;
$off-black: #1A1A1A;
$black: #000000;
$white: #FFFFFF;
$off-white: #999999;
$main-copy: 'Source Serif Pro', Georgia, Serif;
$time: 150ms;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $off-black;
  color: $off-white;
  display: flex;
  flex-direction: column;
  font-family: $main-copy;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100vh;
}

html {
  height: 100%;
}

strong {
  color: tomato;
}

.background-container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.home {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  padding-top: 5%;

  align-items: center;
  flex-grow: 1;
}

.link--home {
  border-bottom: 1px solid $off-white;
  border-top: 1px solid $off-white;
  color: $white;
  display: flex;
  font-size: 1em;
  line-height: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: $time ease;
  width: 90%;

  align-items: center;
  flex-grow: 1;
  justify-content: center;;


  .icon-right {
    padding-left: 2%;
    transform: translateY(2px) scale(2);
    transition: $time ease;
  }
  .icon-left {
    padding-right: 2%;
    transform: translateY(2px) scale(2);
    transition: $time ease;
  }

  &:hover {
    font-size: 1.2em;
    .icon-right {
      transform: translateX(100%) translateY(3px) scale(2.2);
      transition: $time ease;
    }
    .icon-left {
      transform: translateX(-100%) translateY(3px) scale(2.2);
      transition: $time ease;
    }
  }
}



.content--home {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;

  align-items: center;
  flex-grow: 2;
  justify-content: center;

  a {
    color: $off-white;

    &:hover {
      color: $white;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.7;
    max-width: 55ch;

    @media screen and (max-width: $break-small) {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
}

.header--main {
  background: linear-gradient(aquamarine, teal, purple);
  display: block;
  padding: 10px 5%;
  width: 100%;
}

.link--back {
  color: $off-white;
  display: flex;
  font-size: 0.85rem;
  height: 8rem;
  line-height: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: $time ease;
  width: 100%;

  align-items: center;
  justify-content: center;
  .icon-right {
    padding-left: 2%;
    transform: translateY(2px) scale(2);
    transition: $time ease;
  }
  .icon-left {
    padding-right: 2%;
    transform: translateY(2px) scale(2);
    transition: $time ease;
  }

  &:hover {
    font-size: 1.2em;
    .icon-right {
      transform: translateX(100%) translateY(3px) scale(2.2);
      transition: $time ease;
    }
    .icon-left {
      transform: translateX(-100%) translateY(3px) scale(2.2);
      transition: $time ease;
    }
  }
}

// about page


.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-top: 30px;
  width: 100%;

  flex: 1;
}

.content--main {
  h2 {
    border-top: 1px solid $off-white;
    color: $white;
    display: block;
    margin-top: 2rem;
    padding-top: 0.5rem;
  }
}


.title {
  color: $white;
  font-size: 7rem;
  line-height: 1.1;
  margin-top: 5%;
  text-align: center;
  text-shadow: 2px 2px 3px $black;
  text-transform: uppercase;

  a {
    color: $white;
  }

  @media screen and (max-width: $break-small) {
    font-size: 3rem;
  }
}

.title--credit {
  border-bottom: 2px solid aquamarine;
  border-top: 2px solid aquamarine;
  margin-top: 50px;
  text-align: center;
}

p {
  color: $off-white;
  display: block;
  font-size: 1.2rem;
  max-width: 70ch;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;

  @media screen and (max-width: $break-small) {
    font-size: 1rem;
  }
}

.link--typefaces {
  color: $off-white;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.list--typefaces {
  border-bottom: 0;
  display: flex;
  min-height: 500px;
  width: 100%;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: $break-small) {
    border-bottom: 1px solid $off-white;
    display: block;
    min-height: 0;

    flex-wrap: nowrap;
  }
}

.list--typefaces__item {
  display: inline-block;
  margin: 2%;
  min-width: 300px;

  flex-basis: 40%;

  @media screen and (max-width: $break-small) {
    flex-basis: 100%;
  }
}

.list--typefaces__link {
  color: $off-white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 200ms ease;
  width: 100%;

  align-items: center;
  justify-content: center;

  @media screen and (max-width: $break-small) {
    border-bottom: 0;
    margin-bottom: 2rem;
  }

  &:hover {
    box-shadow: 0 0 12px $black;
    color: $white;
    transform: scale(1.05);
    transition: all 200ms ease;
  }

  &:active {
    box-shadow: 0 0 5px $black;
  }
}

.list--typefaces__title {
  display: block;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.typeface__images {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  img {
    width: 100%;
  }
}


//make tabs go

.content--tabs {
  clear: both;
  height: 0;
  opacity: 0;
  padding-left: 2%;
  padding-right: 2%;
  transition: all ease $time;
  visibility: hidden;
}

input {
  border: none;
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

label {
  border-top: 1px solid $off-white;
  display: flex;
  float: left;
  font-size: 1.2rem;
  height: 5rem;
  text-transform: capitalize;
  width: 48%;

  align-items: center;

  @media screen and (max-width: $break-small) {
    font-size: 1rem;
  }

  &.label--blurb {
    margin-left: 2%;
    padding-left: 2%;
    text-align: left;

    justify-content: flex-start;
  }

  &.label--bio {
    margin-right: 2%;
    padding-right: 2%;
    text-align: right;

    justify-content: flex-end;
  }
}

label:hover {
  color: $white;
  cursor: pointer;
}

input:checked + label {
  color: $white;
}

#blurb:checked ~ #contentBlurb,
#bio:checked ~ #contentBio, {
  height: auto;
  opacity: 1;
  transition: all ease $time;
  visibility: visible;
}

//bio
.content--bio {
  margin-bottom: 5%;
  overflow: hidden;
}

.portrait {
  display: inline-block;
  float: left;
  width: 40%;
  img {
    width: 100%;
  }
}

.bio {
  display: inline-block;
  padding-left: 5%;
  width: 60%;
}

.social {
  border-bottom: 1px solid $off-white;
  border-top: 1px solid $off-white;
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;

  align-items: center;
  align-self: baseline;
  justify-content: center;
}

.social__link {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  width: 2rem;

  &:hover {
    img {
      opacity: 1;
      transition: all 100ms ease;
    }
  }

  img {
    opacity: 0.7;
    transition: all 100ms ease;
    width: 100%;
  }
}


//footer

.footer--main {
  border-top: 1px solid $black;
  color: $black;
  margin-top: 10%;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

//svg
.icon {
  display: inline-block;
}
.icon-logo {
  width: 0.91796875em;
}

.icon-logo-bg {
  color: $black;
  height: 100%;
  width: 100%;
}

.icon-logo-main {
  color: $white;
  width: 2em;

  fill: currentColor;
}

.icon-main {
  border: 1px solid $black;
  color: $white;
  display: inline-block;
  width: 100%;
}

// Utils
.hide {
  opacity: 0;
  visibility: hidden;
}
