$break-small: 500px;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: oldlace;
  display: flex;
  flex-direction: column;
  font-family: 'hobeaux-rococeaux-sherman';
  font-size: 18px;
  line-height: 1.4;
  min-height: 100vh;
}

strong {
  color: purple;
}

.header--main {
  background: linear-gradient(aquamarine, teal, purple);
  display: block;
  padding: 10px 5%;
  width: 100%;
}

.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  width: 100%;

  justify-content: space-around;
}

.navigation__item {
  display: inline-block;
}

.navigation__link {
  color: white;
  font-size: 1.5rem;
  opacity: 0.55;
  text-decoration: none;
  transition: all 100ms ease;
  @media screen and (max-width: $break-small) {
    font-size: 0.9rem;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 100ms ease;
  }

  &.active {
    opacity: 1;
  }
}

.content--main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 30px;

  flex: 1;
}

.title {
  border-bottom: 4px solid purple;
  color: orchid;
  font-size: 7rem;
  line-height: 1.1;
  text-align: center;
  text-shadow: 2px 2px 3px grey;
  text-transform: uppercase;

  @media screen and (max-width: $break-small) {
    font-size: 3rem;
  }
}


.title--credit {
  border-bottom: 2px solid aquamarine;
  border-top: 2px solid aquamarine;
  margin-top: 50px;
  text-align: center;
}

p {
  color: black;
  font-size: 1rem;
  padding-bottom: 20px;
  padding-top: 20px;
}


.list--typefaces {
  display: flex;
  min-height: 500px;
  width: 100%;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.list--typefaces__item {
  display: inline-block;
  margin: 10px;
}

.list--typefaces__link {
  background: darken(oldlace, 5%);
  box-shadow: 0 0 3px grey;
  color: purple;
  display: block;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  transition: all 200ms ease;

  &:hover {
    background: darken(oldlace, 7%);
    box-shadow: 0 0 12px grey;
    color: hotpink;
    transform: scale(1.05);
    transition: all 200ms ease;
  }

  &:active {
    box-shadow: 0 0 5px grey;
  }
}


.footer--main {
  border-top: 2px solid blue;
  color: blue;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
