{% include header.html %}

<a href="/typefaces/" class="link--back"><span class="icon-left">☜</span>Back to Typefaces</a>

<div class="content">

<input id="blurb" type="radio" name="tabs" checked>
<label class="label--blurb" for="blurb">{{ page.typeface }}</label>

<input id="bio" type="radio" name="tabs">
<label class="label--bio" for="bio">About {{ page.designer }}</label>


<section id="contentBlurb" class=" content--tabs">
<p>
{{ page.sections['typefaceBlurb'] | markdownify }}
</p>

{{ content }}

</section>

<section id="contentBio" class="content--tabs">
  <div class="content--bio">
    <div class="portrait">
      <img src="/img/{{ page.title }}-designer.png">
    </div>
    <div class="bio">
  {{ page.sections['bio'] | markdownify }}
    </div>
  </div>
  <div class="social">
    {% if page.website %}
      <a target="blank" class="social__link" href="http://{{ page.website }}/"><img src="../img/website.svg"></a>
    {% endif %}
    {% if page.instagram %}
      <a target="blank" class="social__link" href="http://www.instagram.com/{{ page.instagram }}/"><img src="../img/instagram.svg"></a>
    {% endif %}
    {% if page.facebook %}
      <a target="blank" class="social__link" href="http://www.facebook.com/{{ page.facebook }}/"><img src="../img/facebook.svg"></a>
    {% endif %}
    {% if page.twitter %}
      <a target="blank" class="social__link" href="http://www.twitter.com/{{ page.twitter }}/"><img src="../img/twitter.svg"></a>
    {% endif %}
    {% if page.linkedin %}
      <a target="blank" class="social__link" href="http://www.linkedin.com/in/{{ page.linkedin }}/"><img src="../img/linkedin.svg"></a>
    {% endif %}
  </h3>
</section>

</div>

{% include footer.html %}
