{% include header.html %}

<a href="/typefaces/" class="link--back"><span class="icon-left">☜</span>Back to Typefaces</a>

<div class="content">

<input id="blurb" type="radio" name="tabs" checked>
<label class="label--blurb" for="blurb">{{ page.title }}</label>

<input id="bio" type="radio" name="tabs">
<label class="label--bio" for="bio">About {{ page.designer }}</label>


<section id="contentBlurb" class=" content--tabs">
<p>
{{ page.sections['typefaceBlurb'] | textilize }}
</p>

{{ content }}

</section>

<section id="contentBio" class=" content--tabs">
  <p>
{{ page.sections['bio'] | textilize }}
  </p>
  <div class="social">
    {% if page.website %}
      <a class="social__link" href="http://{{ page.website }}/"><img src="../img/website.svg"></a>
    {% endif %}
    {% if page.instagram %}
      <a class="social__link" href="http://www.instagram.com/{{ page.instagram }}/"><img src="../img/instagram.svg"></a>
    {% endif %}
    {% if page.facebook %}
      <a class="social__link" href="http://www.facebook.com/{{ page.facebook }}/"><img src="../img/facebook.svg"></a>
    {% endif %}
    {% if page.twitter %}
      <a class="social__link" href="http://www.twitter.com/{{ page.twitter }}/"><img src="../img/twitter.svg"></a>
    {% endif %}
    {% if page.linkedin %}
      <a class="social__link" href="http://www.linkedin.com/{{ page.linkedin }}/"><img src="../img/linkedin.svg"></a>
    {% endif %}
  </h3>
</section>

</div>
